.oval{
    height: 10px;
    width: 100px;
    border-radius: 90%;
    background-color: #D46D6D;
    position: relative;
    top: 5px;
}

.stacker{
    position: absolute;
    max-width: 100%;
    margin-left: 110px;
}

.NavbarLinks{
    font-family: Rancho;
    font-size: medium;
}